body{
	background:#333;
	margin:0px;
}

#title{
	position:absolute;
	left:0;
	right:0;
	top:32px;
	height: 150px;
	background-color: #3b8eb2;
}

#title #historias{
	float: left;
	min-width: 400px;
	width: 49%;
	height:150px;
	font-size: 28px;
}

#title #historias .item{
	position:absolute;
	top:150px;
	left:30px;
	width:600px;
	height:300px;
	background: #FFF;
}
